@if (profile) {
  <div class="profile-card">
    <div class="avatar-name">

      @if (profile.avatarUrl === null) {
        <img class="profile-card__avatar" src="/assets/imgs/avatar-placeholder.png" alt="avatar"
             [routerLink]="['/profile', profile.id]"

        >
      } @else {
        <img
          [src]="profile.avatarUrl | imgUrl"
          [alt]="profile.username" class="profile-card__avatar"
          [routerLink]="['/profile', profile.id]"

        >

      }


      <div class="profile-card__name">
        <strong>{{ profile.firstName }} {{ profile.lastName }}</strong>
        <span>{{ profile.username }}</span>
      </div>

    </div>
    <div class="profile-card__description">
      {{ profile.description }}
    </div>
    <div class="profile-card__tags">
      <!--      старый синтаксис-->

      <!--      <div *ngFor="let skill of profile.stack" class="skills__tag">-->
      <!--        {{ skill }}-->
      <!--      </div>-->
      <!--      НОВЫЙ-->
      @for (skill of profile.stack; track profile.id) {
        <div class="skills__tag">
          {{ skill }}
        </div>
      }

    </div>
    <div class="profile-card__actions-btns">
      <button class="btn btn-primary">Subscribe</button>

    </div>
  </div>
} @else {
  <div>Not here</div>
}
